@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 33% 96%;
    --foreground: 247 100% 21%;
    --muted: 249 12% 90%;
    --muted-foreground: 249 12% 30%;
    --popover: 249 33% 93%;
    --popover-foreground: 247 100% 11%;
    --card: 249 33% 94%;
    --card-foreground: 247 100% 16%;
    --border: 249 23% 91%;
    --input: 249 23% 88%;
    --primary: 247 78% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 247 30% 75%;
    --secondary-foreground: 247 30% 15%;
    --accent: 249 33% 81%;
    --accent-foreground: 249 33% 21%;
    --destructive: 3 93% 20%;
    --destructive-foreground: 3 93% 80%;
    --ring: 247 78% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 225.45 71.22% 72.75%;
    --primary-foreground: 234.55 17.46% 12.35%;
    --secondary: 0 0% 82.75%;
    --secondary-foreground: 0 0% 20%;
    --accent: 227.73 48.05% 48.58%;
    --accent-foreground: 210 40% 98%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}